<h1><%= @dungeon.name %></h1>
<%= image_tag @dungeon.cover_picture %>
<p><%= @dungeon.description %></p>
<h3>Full Dungeon Map. (DMs Only)</h3>

<div class=img >
  <%= image_tag @dungeon.master_floor_plan %>
</div>

<%= link_to "FINALLY ENTER THE DUNGEON", room_show(2) %>
